<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checklist</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- Main CSS file -->
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <div class="listHead">
                    <h1>Before induction of <br> anaesthesia</h1>
                </div>
                <div class="addition">
                    <h5>(with atleast a nurse and anaesthetist)</h5>
                </div>     
            </div>
            <div class="col-4">
                <div class="listHead">
                    <h1>Before skin incision</h1>
                </div>
                <div class="addition">
                    <h5>(with nurse, anaesthetist and surgeon)</h5>
                </div>
            </div>
            <div class="col-4">
                <div class="listHead">
                    <h1>Before patient leaves <br> operating room</h1>
                </div>
                <div class="addition">
                     <h5>(with nurse, anaesthetist and surgeon)</h5>
                </div>
                <div class="lastList">
                    <h3>Nurse Verbally Confirms:</h3>
                   <div>
                        <input type="checkbox" class="" id="" value="verbal"> <label for="">The name of the procedure</label>
                   </div>
                   <div>
                       <input type="checkbox" class="" id="" value="verbal"> <label for="">Completion of instrument, sponge and needle counts</label>
                   </div>
                    <div>
                        <input type="checkbox" class="" id="" value="verbal"> <label for="">Specimen labelling(read Specimen lable <br> aloud, including patient name)</label>
                    </div>
                     <div>
                         <input type="checkbox" class="" id="" value="verbal"> <label for="">Whether there are any equipment problems <br> to be addressed</label>
                     </div>

                </div>
                <div>
                    <h3>To Surgeon, Anaesthetist and Nurse:</h3>
                    <div>
                        <input type="checkbox" class="" id="" value="verbal"> <label for="">What are the key concerns for recovery and <br> management of this patient?</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/checkLists.js"></script>
</body>
</html> 