<div class="container">
    <div class="form-row">
        <div class="col-4 funkyradio">
            <h1>Before induction of anaesthesia</h1>
            <small>(with atleast a nurse and anaesthetist)</small>
            <div>
                <h4>Has the patient confirmed his/her identity, site, procedure, and consent?</h4>
                <div class="funkyradio-success">
                    <input type="checkbox" name="checkbox" id="checkbox3" checked />
                    <label for="checkbox3">Yes</label>
                </div>
            </div>
            <div>
                <h4>Is the site marked?</h4>
                <div class="funkyradio-success">
                    <input type="checkbox" name="checkbox" id="checkbox3" checked />
                    <label for="checkbox3">Yes</label>
                </div>
                <div class="funkyradio-danger">
                    <input type="checkbox" name="checkbox" id="checkbox4" checked />
                    <label for="checkbox4">No</label>
                </div>
            </div>

            <div>
                <h4>Is the anaesthesia machine and medication check complete?</h4>
                <div class="funkyradio-success">
                    <input type="checkbox" name="checkbox" id="checkbox3" checked />
                    <label for="checkbox3">Yes</label>
                </div>
            </div>

            <div>
                <h4>Is the pulse oximeter on the patient and functioning?</h4>
                <div class="funkyradio-success">
                    <input type="checkbox" name="checkbox" id="checkbox3" checked />
                    <label for="checkbox3">Yes</label>
                </div>
            </div>

            <div>
                <h4>Does the patient have a;</h4>
                <div>
                    <h4>known allergy?</h4>
                    <div class="funkyradio-success">
                        <input type="checkbox" name="checkbox" id="checkbox3" checked />
                        <label for="checkbox3">Yes</label>
                    </div>
                    <div class="funkyradio-danger">
                        <input type="checkbox" name="checkbox" id="checkbox4" checked />
                        <label for="checkbox4">No</label>
                    </div>
                </div>
                <div>
                    <h4>Difficult airway or aspiration risk?</h4>
                    <div class="funkyradio-success">
                        <input type="checkbox" name="checkbox" id="checkbox3" checked />
                        <label for="checkbox3">Yes</label>
                    </div>
                    <div class="funkyradio-danger">
                        <input type="checkbox" name="checkbox" id="checkbox4" checked />
                        <label for="checkbox4">No</label>
                    </div>
                </div>
                <div>
                    <h4>Risk of >500ml blood loss <br> (7ml/kg in children)?</h4>
                    <div class="funkyradio-success">
                        <input type="checkbox" name="checkbox" id="checkbox3" checked />
                        <label for="checkbox3">Yes</label>
                    </div>
                    <div class="funkyradio-danger">
                        <input type="checkbox" name="checkbox" id="checkbox4" checked />
                        <label for="checkbox4">No</label>
                    </div>
                </div>
            </div>

            <!-- <div class="funkyradio-success">
                    <input type="checkbox" name="checkbox" id="checkbox3" checked />
                    <label for="checkbox3"></label>
                </div>
                <div class="funkyradio-success">
                    <input type="checkbox" name="checkbox" id="checkbox3" checked />
                    <label for="checkbox3"></label>
                </div>
                <div class="funkyradio-success">
                    <input type="checkbox" name="checkbox" id="checkbox3" checked />
                    <label for="checkbox3"></label>
                </div> -->
        </div>
        <div class="col-4">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    Default checkbox
                </label>
            </div>
        </div>
        <div class="col-4">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    Default checkbox
                </label>
            </div>
        </div>
    </div>
</div>